---
# TODO: enable more checks, run 'clang-tidy -list-checks -checks="*"' to see more
# Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*'
Checks:          '-*,modernize-avoid-bind,modernize-make-*,modernize-replace-*,modernize-use-nullptr,modernize-deprecated-headers,modernize-loop-convert'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
...

