language: generic
cache:
  directories:
    - $HOME/.ccache/

matrix:
  include:
    - os: linux
    #- os: osx
     # osx_image: xcode10.1

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker run -d -v $(pwd):/zilliqa -v $HOME/.ccache:/root/.ccache -w /zilliqa --name ci zilliqa/zilliqa-ci:20181105 tail -f /dev/null;
    fi

install:
  # note: use option '-t' for 'docker exec' to enable colored output
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -e CI="true" -t ci /bin/sh -c "./scripts/ci_install_deps.sh";
    else
      ./scripts/ci_install_deps.sh;
    fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -t ci /bin/sh -c "./scripts/ci_build.sh";
    else
      ./scripts/ci_build.sh;
    fi

# Code coverage is currently only implemented for GCC builds, so OSX is currently excluded from reporting
after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -e CI="true" -e TRAVIS="$TRAVIS" -e TRAVIS_PULL_REQUEST_SHA="$TRAVIS_PULL_REQUEST_SHA" -e TRAVIS_COMMIT="$TRAVIS_COMMIT" -e TRAVIS_JOB_NUMBER="$TRAVIS_JOB_NUMBER" -e TRAVIS_PULL_REQUEST="$TRAVIS_PULL_REQUEST" -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_REPO_SLUG="$TRAVIS_REPO_SLUG" -e TRAVIS_OS_NAME="$TRAVIS_OS_NAME" -e TRAVIS_TAG="$TRAVIS_TAG" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" -t ci /bin/sh -c "./scripts/ci_report_coverage.sh";
    fi
