language: generic
sudo: false
cache: apt

matrix:
  include:
    - env: LANGUAGE=C++ CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
            - libboost-all-dev
            - libleveldb-dev
            - libjsoncpp-dev
            - libsnappy-dev
          sources: &sources
            - r-packages-trusty
            - llvm-toolchain-trusty
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
      script:
        - ./build.sh
        - ctest
    - env: LANGUAGE=C++ CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
            - libboost-all-dev
            - libleveldb-dev
            - libjsoncpp-dev
            - libsnappy-dev
          sources: &sources
            - r-packages-trusty
            - llvm-toolchain-trusty
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
      script:
        - ./build_lookup.sh
        - ctest
