language: generic

# multiplied by platform
os:
  - osx
  - linux

# multiplied by BUILD_COMMAND
env:
  matrix:
    - BUILD_COMMAND=./build.sh
    - BUILD_COMMAND=./build_lookup.sh

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker pull ubuntu:16.04;
      docker run -d -v $(pwd):/zilliqa -w /zilliqa --name ci ubuntu:16.04 tail -f /dev/null;
    fi

install:
  # note: use option '-t' for 'docker exec' to enable colored output
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -t ci /bin/sh -c "
        apt-get -qq update;
        apt-get install -y cmake build-essential pkg-config libssl-dev;
        apt-get install -y libboost-all-dev libleveldb-dev libsnappy-dev;
        apt-get install -y libjsoncpp-dev libmicrohttpd-dev libjsonrpccpp-dev;
      ";
    else
      brew update;
      brew install pkg-config jsoncpp leveldb;
    fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker exec -t ci /bin/sh -c "$BUILD_COMMAND && ctest";
    else
      $BUILD_COMMAND && ctest;
    fi
