name: CI - Release

on:
  workflow_dispatch:
    inputs:
      commitOrTag:
        description: 'Commit or tag'
        required: false
        default: ''
  push:
    branches:
      - 'release/**'
    paths:
    - 'VERSION'
    tags:        
      - v*

jobs:
  release-to-ecr:
    permissions:
      id-token: write
      contents: write
    name: ecr
    runs-on: docker
    steps:
    - name: 'Checkout scm ${{ inputs.commitOrTag }}'
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ inputs.commitOrTag }}
    - name: Configure AWS Credentials
      uses: Zilliqa/gh-actions-workflows/actions/configure-aws-credentials@v1
      with:
        aws-region: ${{ secrets.AWS_REGION_ZILLIQA }}
        role-to-assume: ${{ secrets.ECR_DEPLOYER_ROLE }}
        oidc-role: ${{ secrets.OIDC_ROLE }}
    - name: Login to the registry
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.AWS_ACCOUNT_ID_ZILLIQA }}.dkr.ecr.${{ secrets.AWS_REGION_ZILLIQA }}.amazonaws.com
    - name: Image tag
      id: set-tag
      run: echo "tag=v$(tail -n +2 VERSION | head -n1).$(tail -n +4 VERSION | head -n1).$(tail -n +6 VERSION | head -n1)" >> $GITHUB_OUTPUT
      shell: bash
    - name: Build Docker images
      run: DOCKER_BUILDKIT=1 docker build -t ${{ secrets.AWS_ACCOUNT_ID_ZILLIQA }}.dkr.ecr.${{ secrets.AWS_REGION_ZILLIQA }}.amazonaws.com/zilliqa:${{ steps.set-tag.outputs.tag }} -f docker/Dockerfile .
      shell: bash
    - name: Push Docker images
      run: docker push ${{ secrets.AWS_ACCOUNT_ID_ZILLIQA }}.dkr.ecr.${{ secrets.AWS_REGION_ZILLIQA }}.amazonaws.com/zilliqa:${{ steps.set-tag.outputs.tag }}
      shell: bash

  release-to-dockerhub:
    name: dockerhub
    runs-on: docker
    steps:
    - name: 'Checkout scm ${{ inputs.commitOrTag }}'
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ inputs.commitOrTag }}
    - name: Login to the registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Image tag
      id: set-tag
      run: echo "tag=v$(tail -n +2 VERSION | head -n1).$(tail -n +4 VERSION | head -n1).$(tail -n +6 VERSION | head -n1)" >> $GITHUB_OUTPUT
      shell: bash
    - name: Build Docker images
      run: DOCKER_BUILDKIT=1 docker build -t zilliqa/zilliqa:${{ steps.set-tag.outputs.tag }} -f docker/Dockerfile .
      shell: bash
    - name: Push Docker images
      run: docker push zilliqa/zilliqa:${{ steps.set-tag.outputs.tag }}
      shell: bash
